<!--Grid of equals layout-->
<div class="grid-container">
  <div *ngFor="let product of products" class="grid-item">
    <div class="card"  [routerLink]="['/products',product.id]" >
        <img class="card-img-top" [src]="getProductImage(product.id)" alt="{{ product.name }}">
        <div class="card-body">
          <p class="card-text" style=" margin-bottom: 7px;">{{ product.brand }}</p>
          <h5 class="card-title" style=" margin-top: 10px;">{{ product.name }}</h5>
          <p class="card-text card-price">{{ product.price }} €</p>
        </div>
    </div>
  </div>
</div>