.card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    flex-direction: column;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 5px;
}
.card-price {
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid blue;
    width: fit-content;
    font-weight: bold;
}
