<nav>
    <div class="menu">
        <a href="/" id="logo">
            <img id="logo-img" src="./assets/logo.png" />
            <span id="title">
                Your Shop
            </span>
        </a>
        <div class="menu-entries">
            <p-button [routerLink]="['login']" [text]="true" icon="pi pi-sign-in" label="Log in">
            </p-button>
            <p-button [routerLink]="['register']" [text]="true" icon="pi pi-user-plus" label="Register"></p-button> 
            <p-button [routerLink]="['cart']" [text]="true" icon="pi pi-shopping-cart" [badge]="cartItemCount" badgeClass="p-badge-info"></p-button>
        </div>
    </div>
</nav>