.lower-opacity {
    opacity: 0.7; /* Adjust the opacity value as needed */
    font-size: 0.9em;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(5px); /* Justiere den Abstand nach Bedarf */
    width: 100%;
}