<div class="filter-sidebar">
  <h3>Filters</h3>
  <div>
    <p>Brands</p>
    <p-multiSelect [options]="brands" [(ngModel)]="selectedBrands" (onChange)="applyFilters()"></p-multiSelect>
  </div>
  <div>
    <p>Colors</p>
    <p-multiSelect [options]="colors" [(ngModel)]="selectedColors" (onChange)="applyFilters()"></p-multiSelect>
  </div>
  <div>
    <p>Price Range</p>
    <p-slider [(ngModel)]="selectedPriceRange" [min]="priceRange[0]" [max]="priceRange[1]" [range]="true" (onSlideEnd)="applyFilters()"></p-slider>
    <div>{{ selectedPriceRange[0] }} € - {{ selectedPriceRange[1] }} €</div>
  </div>
</div>