.filter-sidebar {
  width: 250px; 
 padding-right: 40px;
 
 padding-bottom: 20px;
  display: block;
  position: relative;
}

.filter-sidebar h3 {
  margin-top: 0;
}

.filter-sidebar h2 {
  margin-top: 0;
}

.filter-sidebar div {
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-container label {
  margin-left: 10px;
}
