
.filter-sidebar {
  width: 250px; 
  padding: 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.filter-sidebar h3 {
  margin-top: 0;
}

.filter-sidebar h2 {
  margin-top: 0;
}
.filter-sidebar div {
  margin-bottom: 20px;
}
