<div class="filter-sidebar">
  <h2>Filters</h2>
  <div style="margin-top: 30px;">
    <h3>Brands</h3>
    <div *ngFor="let brand of brands" class="field-checkbox">
      <p-checkbox 
        name="brands" 
        [(ngModel)]="selectedBrands" 
        [value]="brand.value"
        (onChange)="applyFilters()"
        >
      
      </p-checkbox>
      
      <label>{{ brand.label }}</label>
    </div>
  </div>
  <div style="margin-top: 30px;">
    <h3>Colors</h3>
    <p-multiSelect 
      [options]="colors" 
      [(ngModel)]="selectedColors" 
      (onChange)="applyFilters()" 
      placeholder="Select Colors" 
      [filter]="true">
    </p-multiSelect>
  </div>
  <div style="align-items: center; margin-top: 30px;">
    <h3>Price Range</h3>
    <p-slider 
      [(ngModel)]="rangeValues" 
      [min]="priceRange[0]" 
      [max]="priceRange[1]" 
      [range]="true" 
      (onSlideEnd)="applyFilters()">
    </p-slider>
    <div style="margin-top: 15px;">{{ rangeValues[0] }} € - {{ rangeValues[1] }} €</div>
  </div>
</div>
