<div class="view-toggle">
  <button class="toggle-button" (click)="toggleListView()">
    <span class="material-icons">view_list</span>
  </button>
  <button class="toggle-button" (click)="toggleGridView()">
    <span class="material-icons">grid_view</span>
  </button>
</div>


<div *ngIf="listView" class="product-list" (scroll)="onScroll($event)">
  
  <div *ngIf="products.length > 0" class="horizontal-cards">
    <div *ngFor="let product of products" class="horizontal-card">
      <div class="card-img">
        <img [src]="getProductImage(product.id)" alt="{{ product.name }}">
      </div>
      <div class="card-details">
        <p class="card-text" style="margin-bottom: 7px;">{{ product.brand }}</p>
        <h5 class="card-title" style="margin-top: 14px;">{{ product.name }}</h5>
        <p class="card-text card-price" style="margin-top: 10px;"><span>{{ product.price }} €</span></p>
      </div>
    </div>
  </div>
  
  
</div>

<!--If not listview switch to gridview in product-item component-->
<app-product-item *ngIf="!listView" [products]="products"></app-product-item>


<!--If not listview switch to gridview in product-item component
<div class="load-more-container" *ngIf="!loading" style="margin-bottom: 40px;">
  <button class="load-more-button" (click)="loadMoreProducts()">Mehr laden</button>
</div>
-->