.product-list {
  display: flex;
  justify-content: center;
}

.horizontal-cards {
  display: flex;
  flex-wrap: wrap;
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.horizontal-card .card-img {
  width: 100px;
}

.horizontal-card .card-img img {
  width: 100%;
  height: auto;
}

.horizontal-card .card-details {
  flex-grow: 1;
  padding: 10px;
  padding-bottom: 5px;
}

.horizontal-card .card-title {
  font-size: 16px;
  margin-bottom: 3px;
}

.horizontal-card .card-text {
  font-size: 14px;
}

.horizontal-card .card-text.card-price {
  display: inline-block;
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(0, 132, 255);
  font-weight: bold;
}

.view-toggle {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.toggle-button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.toggle-button:hover {
  background-color: #5096fff1;
}

.toggle-button:focus {
  outline: none;
}

.material-icons {
  font-size: 24px;
}

.load-more-button {
  background-color: #5096ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

.load-more-button:hover {
  background-color: #407bd4;
}
.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
  margin-bottom: 60px; 
}

/* loading spinner */
.custom-spinner {
  width: 6rem;
  height: 6rem;
  border: 0.3rem solid transparent;
  border-top-color:  #5096ff;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
