<form [formGroup]="addressForm" class="p-fluid" (ngSubmit)="onSubmit()">
    <div class="p-field p-grid">
      <label for="name" class="p-col-12 p-md-2">Name</label>
      <div class="p-col-12 p-md-10">
        <input id="name" type="text" pInputText formControlName="name">
        <small *ngIf="addressForm.get('name')?.invalid && addressForm.get('name')?.touched">Name is required</small>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="street" class="p-col-12 p-md-2">Street</label>
      <div class="p-col-12 p-md-10">
        <input id="street" type="text" pInputText formControlName="street">
        <small *ngIf="addressForm.get('street')?.invalid && addressForm.get('street')?.touched">Street is required</small>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="postalCode" class="p-col-12 p-md-2">Postal Code</label>
      <div class="p-col-12 p-md-10">
        <input id="postalCode" type="text" pInputText formControlName="postalCode">
        <small *ngIf="addressForm.get('postalCode')?.invalid && addressForm.get('postalCode')?.touched">Postal Code is required</small>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="city" class="p-col-12 p-md-2">City</label>
      <div class="p-col-12 p-md-10">
        <input id="city" type="text" pInputText formControlName="city">
        <small *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">City is required</small>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="country" class="p-col-12 p-md-2">Country</label>
      <div class="p-col-12 p-md-10">
        <input id="country" type="text" pInputText formControlName="country">
        <small *ngIf="addressForm.get('country')?.invalid && addressForm.get('country')?.touched">Country is required</small>
      </div>
    </div>
    <button pButton type="submit" label="Save" [disabled]="addressForm.invalid"></button>
  </form>
  