<p class="text-center p-3">Fields marked * are required</p>
<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="text-center p-3">
        
            <input type="radio" id="mr" name="gender" value="Mr.">
            <label for="mr">Mr.</label>
            <input type="radio" id="mrs" name="gender" value="Mrs.">
            <label for="mrs">Mrs.</label>
            <input type="radio" id="other" name="gender" value="Other">
            <label for="mrs">Other</label>
            <input pInputText type="text" placeholder="Other" id="other" name="other" required>
        </div>

     
                
        <div class="formgrid grid text-center p-3">
            <div class="field col">
            
                <input pInputText type="text" placeholder="* First Name" id="firstName" name="firstName" class="mr-2" required>
           
            
                <input pInputText type="text" placeholder="* Last Name" id="lastName" name="lastName" class="ml-2" required>
            </div>
        </div>
        
        
         
        
        <div class="formgrid grid text-center p-3">
            <div class="field col">
                
                <input pInputText type="email" placeholder="* Email Address" id="email" name="email" class="mr-2" required>
           
                
                <input pInputText type="password" placeholder="* Password" id="password" name="password"  class="ml-2"required>
            </div>
        </div>
        
        
     





        
    

        <div class="text-center p-3">
            <label for="dob"><b>Birthdate</b></label><br>
            <p-calendar  type="date" placeholder="* Birthdate" dateFormat="dd.mm.yy" iconDisplay="input" showIcon="true" ></p-calendar>
        </div>




        <div class="formgrid grid text-center p-3">
            <div class="field col">
                
                <input pInputText type="text" placeholder="* Street" id="street" name="street" class="mr-2" required>
        
        
                <input pInputText type="text" placeholder="* Street Number" id="streetNumber" name="streetNumber" class="ml-2" required>
           
            </div>
        </div>



      
        <div class="formgrid grid text-center p-3">
            <div class="field col">
                <input pInputText type="text" placeholder="* Postal Code" id="postalCode" name="postalCode" class="mr-2" required>
      
                <input pInputText type="text" placeholder="* City" id="city" name="city" class="ml-2" required>
                
            </div>
        </div>


    
           

        <div class="text-center p-3">
            <label for="country">Country:</label>
            <p-dropdown  placeholder="* Country" 
                [options] = "countries"
                optionLabel ="name"
            >
            </p-dropdown>
            
            <!-- <label for="country">Country:</label>
            <select id="country" name="country" required>
                <option value="" disabled selected>Select your country</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
                <option value="UK">UK</option>
                
            </select> -->
        </div>


        <div class="font-bold text-center p-3">
            <button pButton pRipple type="submit" label="Submit" id="register-button"
                style="background-color: #30a73f; color: white;"></button>
        </div>
    </form>
</div>